
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 3rem;
    min-height: 110px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3000;

    background: linear-gradient(
                    90deg,
                    #FFFFFF 0%,
                    #DCEAF7 20%,
                    #8BC5F8 40%,
                    #4E8FE6 60%,
                    #12376A 80%,
                    #071D3D 100%
                );

    box-shadow: none;
    transition: all var(--transition-base)
}

.navbar.scrolled {
    background: rgba(220, 234, 247, 0.85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.3);

    box-shadow:
    0 8px 24px rgba(0,0,0,0.08);
    min-height: 80px;
}

.navbar.scrolled .navbar-links a {
    color: var(--primary);
}

.navbar.scrolled .logo img {
    height: 80px;
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo img {
    height: 110px;
    width: auto;
    display: block;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* ====== Desktop Menu ====== */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 10px;
}

.navbar-links a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 1.05rem;
    font-weight: 800;
    padding: 8px 12px;
    border-radius: 8px;
}

.navbar-links a:hover {
    background: rgba(255,255,255,0.12);
}

/* Hover underline animation */
.navbar-links a::after {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: var(--primary);
    transition: width var(--transition-fast);
}

.navbar-links a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    background: #071D3D;

    border: 1px solid #071D3D;
    backdrop-filter: blur(8px);

    border-radius: 10px;
    padding: 10px;
    
    cursor: pointer;

    transition: all var(--transition-fast);
}

.hamburger span {
    width: 24px;
    height: 3px;
    background: #ffffff;

    border-radius: 2px;

    transition: all var(--transition-base);
}

/* ===== Hamburger → X ===== */
.hamburger.active span:nth-child(1) {
    transform: translateY(8.5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);

}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8.5px) rotate(135deg);
}

.mobile-menu {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;

    max-height: 0;

    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);

    opacity: 0;
    transform: translateY(-100%);

    transition: transform var(--transition-base),
                opacity var(--transition-base);

    pointer-events: none;

    z-index: 3500;
    overflow: hidden;
}

.mobile-menu.open {
    opacity: 1;
    transform:translateY(0);
    pointer-events: auto;
    max-height: 120px;
}

.mobile-menu ul {
    display: flex;
    justify-content: center;
    gap: 1rem 1.5rem;

    flex-wrap: wrap;

    padding: 1rem;
    margin: 0;
}

.mobile-menu li {
    list-style: none;
}

.mobile-menu a {
    text-decoration: none;
    color: inherit;
}

.menu-backdrop {
    position: fixed;
    inset: 0;
    opacity: 0;

    background: rgba(0,0,0,0.4);

    transition: opacity var(--transition-base);

    z-index: 2500;

}

.menu-backdrop.show {
    opacity: 1;
}


@media (max-width: 768px) {

    .navbar-left, .navbar-right {
        flex: 0 1 auto; /* Let them only take up the space they actually need */
    }

    .navbar-links {
        display: none;
    }


    .navbar {
        min-height: 80px;
        padding: 0.5rem 1rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;

        background: rgba(220,234,247,0.75);
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }


    
    .navbar-left {
        flex: 1; 
        display: flex;
        align-items: center;
    }

    
    .logo {
        max-width: 200px; 
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 100%;  
        height: auto;  
    }

    .hamburger {
        display: flex;
        flex-shrink: 0; 
    }
}